name: Testing

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'
        cache: 'gradle'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    #- name: Publish custom korge intellij
    #  run: ./gradlew :korge-next:publishJvmPublicationToMavenLocal
    - name: Build with Gradle
      run: ./gradlew --no-daemon check buildPlugin
    - name: Stop gradle
      run: ./gradlew --stop
